@font-face {
  font-family: "SansSerif";
  src: url("https://wcazes.000webhostapp.com/fonts/Source%20Font%20Family/Source%20Code%20Pro/SourceCodePro-Semibold.ttf");
}
@font-face {
  font-family: "SansSerifLight";
  src: url("https://wcazes.000webhostapp.com/fonts/Source%20Font%20Family/Source%20Code%20Pro/SourceCodePro-Light.ttf");
}
*{
  margin:0px;
  padding:0px;
}
body{
  margin-top:44px;
  background: #efefef;
  font-family: "SansSerifLight";
}.row{
  padding:10px;
}
.row-bg{
    background: #efefef;
}



nav{
  margin-top:-44px;
}


.wrapper{
}
.navbar{
  width: 100%;
  background:#0077b5;
  color:#efefef;
  border-bottom: 1px solid #1b5480;
  position: fixed;
}

  .logo-text{
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.header-img{
  background-color: #313335;
  margin-bottom: 1.5rem;
  padding:1rem;
  color:#fff;
}
.hb{
  margin:5px;
}
.img-me{
  width:250px;
}
.img-rounded{
  border-radius:50%;
  display: block;
  margin: 0 auto;}

.twitter{
    background:#1DA1F2;
    border:1px solid #1b5480;
    border-radius:5px;
    font-family: "SansSerif";
  }
.linked-in{
  background:#287bbc;
  border:1px solid #1b5480;
  border-radius:5px;
  font-family: "SansSerif";
  background-image: -webkit-linear-gradient(top, #287bbc 0%, #23639a 100%);
  background-image: -moz-linear-gradient(top, #287bbc 0%, #23639a 100%);
  background-image: -o-linear-gradient(top, #287bbc 0%, #23639a 100%);
  background-image: linear-gradient(top, #287bbc 0%, #23639a 100%);
  border-top:1px solid rgba(10, 10, 10, 0.25);
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}
.footer{
  background-color: #313335;
  color:#fff;
  padding:;
  font-size: small;
  font-weight: bold;
  text-transform: uppercase;


}
