*{
    margin: 0px;
    padding:0px;
    box-sizing: border-box;
}

body{
    background: #efefef;
    color:#444;
    font-size: 16px;
}
.container{
    position: relative;
    padding:10px;
    margin:20px auto;
    width:100%;
    min-height: 80vh;
    height: 100%;
    max-width: 600px;
}

h1, h2, h3 {
    margin:25px 0px ;
}
h1{
    font-size: 3em;
    text-align: center;
}
h2{
    font-size: 2em;
}
h3{
    font-size: 1.5em;
}
p{
    margin:10px 0px;
    font-size: 1.5em;
}
form{
    background:#dfdfdf;
    padding:25px;
    border:1px #000000 solid;
    border-radius: 10px;
}
input{
    margin-bottom: 10px;
    width: 100%;
    display: block;
    padding:10px;
    font-size: 1.2em;
    border:0px;
}
input[type="submit"]{
    background:#666;
    color: #efefef;
}
input[type="submit"]:hover{
    background:lightblue;
    color:#666;
}
.credit{
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 3px;
    font-size: small;
}
.loading{
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
img{
    display: block;
    margin:50px auto;
    width: 50px;
    text-align: center;
}
